<?xml version="1.0"?>

<appSettings>
	<add key="MenuTable"
		 value="MENUS" />
	<add key="SubMenuTable"
		 value="SUBMENUS" />
	<add key="RoleTable"
		 value="ROLES" />
	<add key="SubMenuInRoleTable"
		 value="SUBMENU_IN_ROLE" />
	<add key="UserTable"
		 value="USERS" />
	<add key="UserInRoleTable"
		 value="USER_IN_ROLE" />
	<add key="OperationTable"
		 value="OPERATIONS" />
	<add key="UserManagerConnection"
		 value="Main" />
	<add key="TablePrefix" />


	<!--Application Settings-->
	<add key="Timezone" value="W. Central Africa Standard Time" />
	<add key="DefaultDate" value="(dateadd(HOUR, 1, GETUTCDATE()))"/>
	<add key="DateFormat" value="yyyy-MM-dd"/>
	<add key="TimeFormat_12H" value="hh:mm:ss tt"/>
	<add key="TimeFormat_24H" value="HH:mm:ss"/>


	<!--Database Settings: AZURE SERVER-->
	<!--<add key="Server" value="sql5052.site4now.net" />
  <add key="Name" value="DB_A5DAC6_Loan" />
  <add key="User" value="DB_A5DAC6_Loan_admin" />
  <add key="Password" value="pI8kxjEFLsFfjnIvJORjTw==" />-->

	<!--Database Settings : LOCAL SYSTEM BG-->
	<!--<add key="Server" value="DESKTOP-QBS2JG0" />
	<add key="Name" value="PaperHybrid" />
	<add key="User" value="sa" />
	<add key="Password" value="pI8kxjEFLsFfjnIvJORjTw==" />-->

  <!--Database Settings : LOCAL SYSTEM SM-->
  <add key="Server" value="DESKTOP-G6DPB81" />
	<add key="Name" value="Loanapp" />
	<add key="User" value="sa" />
	<add key="Password" value="pI8kxjEFLsFfjnIvJORjTw==" />

	<!--<add key="BackupPath" value="" />-->
	<add key="RestorePath" value="" />
	<add key="ProcessedFilePath" value="C:\Applications\PaperHybrid\ProcessedFiles" />
	<add key="PaymentFilePath" value="C:\Applications\PaperHybrid\PaymentFiles" />

	<!--SMTP-->
	<add key="SMTPHost" value="mail.jdictstores.com.ng"/>
	<add key="SMTPName" value="Loan APP Support"/>
	<add key="SMTPAddress" value="admin@jdictstores.com.ng"/>
	<add key="SMTPPassword" value="Jdadmin10$$$$$"/>
	<add key="SMTPSecure" value="false"/>
	<add key="SMTPPort" value="8889"/>
	<add key="SMTPTimeout" value="9999999"/>



	<!--SMS Settings-->
	<add key="GatewayUserID" value="benardikem@gmail.com"/>
	<add key="GatewayPassword" value="I54LcYWa2y0Y0pFIjnQAHQ=="/>
	<add key="GatewaySender" value="LoanApp"/>
  <add key="GatewayBaseURL" value="http://portal.nigeriabulksms.com/api/"/>
  
  
	<!--<add key="GatewayBaseURL" value="http://www.bulksmsnigeria.net/components/com_spc/smsapi.php"/>
  https://portal.nigeriabulksms.com/api/?username=user&password=pass&message=test&sender=welcome&mobiles=2348030000000,2348020000000-->


  <!--Site Settings-->
	<add key="AgentRoleId" value="5"/>
	<add key="ContactPhone" value="08100258668"/>

	<!--Other Settings-->
	<add key="webpages:Version" value="3.0.0.0"/>
	<add key="webpages:Enabled" value="false"/>
	<add key="PreserveLoginUrl" value="true"/>
	<add key="ClientValidationEnabled" value="true"/>
	<add key="UnobtrusiveJavaScriptEnabled" value="true"/>


	<add key="FormateFilePath" value="C:/Users/HP/source/repos/Benardikem/LoanApp/Web/emailtemp/invoice.html"/>
</appSettings>